/* Header
****************************/

body {
	font-family: 'Open Sans', sans-serif;
}
.header {
	.social {
		padding-top: 10px;
	}

	&__inner {
		position: relative;
		z-index: 2;
		left: 0;
		margin-bottom: 20px;
		.header__logo {
			position: relative;
			
			top: 20%;
			.header__title {
				position: absolute;
				left: 70px;
				bottom: 10px;
				font-family: Montserrat;
				font-weight: 600;
				font-size: 20px;
				line-height: 24px;
				text-transform: uppercase;
				/* Text style for "marine" */
				letter-spacing: 4px;
			}	
		}
	}

	.header__mobile {
		.header__menu {
			transition: all 0.6s ease 0s;
		}
		.header__burger {
			z-index: 5;
		}
		position: fixed;
		height: 50px;
		display: none;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 50;
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #accdda;
			z-index: 3;
			}
		.header__list {
			display: flex;
			li {
				margin-bottom: 15px;
				a {
					i {
						margin-top: -5px;
					}
				}
				.link {
					
					color: #2c3d45;
					&:hover {
						color: #34a2d7;
					}
				}
			}
		}
	}
	&__footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: #accdda;
		height: 55px;

		.nav {
			text-transform: uppercase;
			font-size: 13px;
			align-items: center;
			&__link {
				color: #23323a;
				margin-left: 30px;
				&:after {
					margin-left: 10px;
					content: url('../img/after.png');
				}
				&:first-child {
					margin-left: 0;
				}
				&:hover {
					color: #39a4d7;
					text-decoration: none;
					&:after {
						color: #39a4d7;
						content: url('../img/afterHover.png');
					}
				}
			}
		}
		.search {
		position: relative;
		i {
			color: #93a6b0;
		}
		form {
			position: relative;
			width: 280px;
			margin: 0 auto;
		}
			&__form {
				display: none;
				transition: opacity .8s linear;
				position: absolute;
				top: 40px;
				right: 5px;
				background: #A3D0C3;
				input {
					width: 100%;
					height: 42px;
					padding-left: 10px;
					outline: none;
					color: #9E9C9C;
				}
				button {
					position: absolute;
					top: 0;
					right: 0px;
					width: 42px;
					height: 42px;
					border: none;
					background: #23323a;
					cursor: pointer;
					&:before {
						content: "\f002";
						font-family: FontAwesome;
						font-size: 16px;
						color: #F9F0DA;
					}
					&:after {
						content: "";
						position: absolute;
						top: -20px;
						left: 15px;
						border: 10px solid transparent; 
						border-right: 10px solid #23323a; 
						border-bottom: 10px solid #23323a;
					}
				}
			}
		}
	}
}
	

.link {
	opacity: .75;
	transition: opacity .1s linear;
	margin-top: 10px;
	&:hover {
		opacity: 1;
	}
}

.social {
	align-items: center;
	display: flex;
	font-weight: 600;
	.icon {
		font-size: 16px;
		color: #93a6b0;
	}
	&__link {
		margin-left: 18px;
		&:first-child {
			margin-left: 0;
		}
	}
	&__phone {
		text-decoration: none;
		font-size: 11px;
		height: 12px;
		margin-top: 0;
		padding-right: 10px;
		color: #0b2b33;
		text-transform: uppercase;
		line-height: 24px;
		&:after {
			content: "";
			display: inline-block;
			border-right: 1px solid #0b2b33;
			margin-left: 10px;
			height: 80%;

		}
	}
	
}





.section__features {
	background-color: #12b4c3;
	background-image: linear-gradient(to top, #008fd5 8%, rgba(0, 143, 213, 0.45) 59%, rgba(255, 255, 255, 0) 100%);
	display: flex;
	align-items: center;
	.features__icon {
		margin-top: 35px;
		width: 70px;
		height: 70px;
		background-color: #12b4c3;
		background-image: linear-gradient(to top, #008fd5 8%, rgba(0, 143, 213, 0.45) 59%, rgba(255, 255, 255, 0) 100%);
		margin-bottom: 20px;
		padding: 15px;
	}
	.features__item {
		text-align: center;
		color: #ffffff;
	}
	.features__title {
		font-size: 24px;
	}
	.features__text {
		font-size: 14px;
		margin-top: 8px;
		margin-bottom: 50px;
	}
}

.section__slider {
	background-color: #03678e;
	height: 500px;
	margin: 0 auto;
	.slider {
		position: relative;
		padding: 0 60px;
		text-transform: uppercase;
		color: #fff;
		top: 15%;
		text-align: center;
		img {
			margin-bottom: 15px;
		}
		&__title {
			text-shadow: 0 0 18px rgba(50, 84, 97, 0.58);
			color: #ffffff;
			font-weight: 800;
			font-size: 82px;
			line-height: 86.27px;
			text-transform: uppercase;
			/* Text style for "Natural po" */
			letter-spacing: -1.04px;
		}
		&__text {
			display: inline-block;
			margin-top: 40px;
			font-weight: 600;
			font-size: 14px;
			border-bottom: double 4px #fff;
			border-top: double 4px #fff;
			line-height: 2.4;
		}
		.slick-arrow {
			position: absolute;
			top: 50%;
			z-index: 10;
			font-size: 0;
			width: 60px;
			height: 60px;
			border: 1px solid #4188a4;
		}
		.slick-arrow.slick-prev {
			left: 0;
			background: url(../img/prev.png) center center / 30% no-repeat;
			color: black;
		}
		.slick-arrow.slick-next {
			right: 0;
			background: url(../img/next.png) center center /30% no-repeat;
			color: black;
		}
	}
}


.slick-track {
	display: flex;
}
.slick-list {
	overflow: hidden;
}


.slider__recent__item {
	img {
		width: 388px;
		height: 202px;
	}
}
h4.slider__title {
	font-size: 18px;
}
.slider__recent {
	position: relative;
	padding: 0 60px;
	text-transform: uppercase;
	color: #fff;
	top: 15%;
	text-align: center;
	margin: 0 auto;
	.slick-arrow {
		position: absolute;
		top: 20%;
		z-index: 10;
		font-size: 0;
		width: 40px;
		height: 40px;
	}

}
.slick-slide {
	img {
		max-width: 100%;
	}
}
