// Font
$mainFont				:'Montserrat', Helvetica, Aria, sans-serif;

// Size
$mainFontColor			:#101010;
$mainFontSize			:18px;
$mainFontWeight			:400;
$mainFontHeight			:14;

$desktopWidth			:1600px;
$tableWidth				:1600px;
$phoneWidth				:1600px;

// Main color
$default-color			:#ffffff;
primary-color: 			:#444ce0;		